// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFBA49;
$orange: #E87461;
$green: #1EDD88;
$gray: #2F1847;
$light-gray: #F4F4F4;

$pale: #FBF7F4;

$pink: #F9B3D1;
$primary-pink: #B744B8;
$teal: #ADF1D2;
