.mapbanner {
  background-image: url("https://map.viamichelin.com/map/carte?map=viamichelin&z=10&lat=51.50022&lon=-0.1265&width=550&height=382&format=png&version=latest&layer=background&debug_pattern=.*");
  background-attachment: fixed;
  width: 100vw;
  padding: 200px 0;
}

.flavour {
  background-color: $pink;
}

.show-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 50vh auto;
  grid-template-areas:
    "image stats"
    "title booking";
    // "descrip descrip booking"
  gap: 1em;

}

.show-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-title {
  grid-area: title;

}

.show-info {
  grid-area: descrip;
}

.show-booking {
  grid-area: booking;
}

.show-photo {
  grid-area: image;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show-stats {
  grid-area: stats;
}
.show-location {
  grid-area: map;
}
