.donut-map {
  width: 100%;
  height: 100%;
}


.donut-grid {
  display: grid;
  grid-template-columns: repeat(1, 282px);
  gap: 1.5em;
  justify-content: center;

  .donut-image {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .donut-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr;
  }

  // .card {
  //   background-color: transparent;
  //   box-shadow: rgba(128, 79, 79, 0.1) 0 0 10px;
  // }
}

@media (min-width: 768px) {
  .donut-grid {
  grid-template-columns: repeat(2, 282px);
  overflow-y: scroll;
  }
  
}

// @media (min-width: 1024px) {
//   .donut-grid {
//   grid-template-columns: repeat(3, 282px);
//   }
  .biggrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc(100vh - 56px);
  }
}


// @media (min-width: 1440px) {
//   .donut-grid {
//   grid-template-columns: repeat(4, 282px);
//   }
// }

