// Specific CSS for your home-page
.banner {
  height: calc(100vh - 56px);
  width: 100%;
  // background-image: ;
  // background-repeat: repeat;
  // background-attachment: fixed;

  background: linear-gradient(90deg, rgba(255,255,255,0.7) 30%, rgba(45,173,176,0) 100%),
              fixed url("https://img.freepik.com/free-vector/memphis-falling-confetti-style-pattern-background_1017-27574.jpg?w=740&t=st=1677599189~exp=1677599789~hmac=0743acf1d88b873884cad4c5b90e962412bfe4027067ecca03290fdfc6ed34c2") repeat;

  padding: 150px 0;
  overflow: hidden;
}
