.mydon-headers {
  padding: 30px;
  justify-content: space-between;
  width: 80%;
}

.header-sect {
  background-color: beige;
  height: auto;
}

.review-sect {
  background-color: beige;
  height: 50px;
}

.this-user-reviews {
  padding: 30px;
  width: 50%;
  overflow-y: scroll;
  max-height: 500px;
}

.review-card {
  padding: 10px;
  background-color: white;
  width: 75%;
  // border-radius: 8px;
}

.reviewer-info {
  background-color: beige;
  padding: 10px;
  border-radius: 8px;
}

.review-content {
  background-color: whitesmoke;
  width: 400px;
  border-radius: 8px;
  padding: 10px;
  margin-left: 10px;
}

.rating-p {
  background-color: $pink;
}


.warn-cont {
  width: 100%;
}

.review-warn {
  text-align: center;
}

.warn-text {
  background-color: beige;
  padding: 10px;
}


// .detail-cont {
//   display: grid;
//   grid-template-columns: 1fr, 1fr;
//   grid-template-rows: calc(100vh-56px);
// }


// .rev-card-cont {
//   padding: 20px;
//   display: flex;
// }

// .rev-card {
//   height: 300px;
//   justify-content: center;
// }

// .rev-card-title {
//   background-color: antiquewhite;
//   justify-content: center;
//   padding: 10px;
// }

// .rev-content {
//   background-color: whitesmoke;
//   padding: 20%;
//   white-space: pre-line;
// }
