<div class="container">
  <% if @bookings.empty? %>
    <p>You have no bookings!</p>
  <% else %>
    <% @bookings.each do |booking| %>
      <div class="card">
        <%# TODO %>
      </div>
    <% end %>
  <% end %>
</div>
