
<div class="container grid">
  <% @donuts.each do |donut| %>
   <%= link_to donut_path(donut.id) %>
   <div class="card">
    <%= image_tag "", class: "" %>
    <div class="card-body">
      <%= donut.title %>
    </div>
   </div>
  <% end %>
</div>
