<div class="banner">
  <div class="container">

    <h1 class="fw-bold display-1">Every Bite Counts</h1>
    <p>Bringing the world together one bite at a time</p>

    <%= render "search" %>

      <%#= link_to "let's get some donuts", donuts_path, class: "btn btn-lg btn-primary rounded-pill" %>
  </div>
</div>
