<div class="banner">
  <div class="container">

    <h1 class="fw-bold display-1 main-title">Every Bite Counts</h1>
    <p>Bringing the world together one bite at a time</p>

    <%= render "search" %>

  </div>
</div>
