<div class="banner">
  <div class="container">
      <h1 class="fw-bold display-1">Welcome</h1>
      <%= link_to "let's get some donuts", donuts_path, class: "btn btn-lg btn-primary rounded-pill" %>
  </div>
</div>
